@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lato&display=swap');

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper>* {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

#hero-outer {
    height: 160px;
    width: 100%;
    position: relative;
}

.header {
    background: rgba(233, 149, 121, 1);
    height: 160px;
    background: url(../images/hero-image.webp) center no-repeat;


    /* animation zoom effect on loading page */
    animation-name: background-image;
    animation-duration: 5s;
    animation-fill-mode: forwards;

    /* creates the level of zoom for hero-image*/
    @keyframes background-image {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(1.1);
        }
    }
   
}




  













    h1,
    h2,
    h3,
    p,
    ol {
        font-family: 'Kaushan Script', 'Brush Script MT', cursive;
        color: #fff;
    }

    /* navigation links */

    #navigation {
        font-size: 110%;
        color: rgba(255, 85, 155, 1);

    }

    #navigation li {
        float: right;
        list-style-type: none;
        margin-right: 30px;
    }

    #navigation a {
        text-decoration: none;
        color: inherit;
    }

    #navigation,
    #logo {
        line-height: 75px;
    }

    #navigation a:hover {
        border-bottom: 1px solid rgba(255, 85, 155, 1);
    }

    .active {
        border-bottom: 1 px solid rgba(255, 85, 155, 1);
    }

    .footer {
        background: rgba(233, 149, 121, 1);
        height: 80px;
    }

    .main {
        text-align: left;
        background: rgba(255, 85, 155, 1);
        background: url(../images/hero-image.webp) no-repeat;
        background-size: auto;
        background-repeat: no-repeat;
        position: relative;
        height: 300px;
        margin-bottom: 40px;
        font-size: 24px;
    }

    .aside1 {
        background: rgb(175, 179, 165);
        list-style-type: none;
    }

    .aside2 {
        background: rgba(46, 2, 48);
    }

    @media all and (min-width: 800px) {
        .main {
            flex: 3;
        }

        .aside1 {
            order: 1;
        }

        .aside2 {
            order: 2;
        }

        .main {
            order: 2;
        }

        .footer {
            order: 4;
        }
    }

    @media all and (min-width: 600px) {
        .aside {
            flex: 1;

        }
    }