@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lato&display=swap');

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper>* {
    border-radius: 10px;
    flex: 1 100%;
    margin: 10px;
    padding: 10px; 
}

.header  {
    background: rgb(240, 160, 131);
    background: rgba(233, 149, 121, 1);
    background: url(../images/hero-image.webp) center no-repeat;
    border-radius: 10px;
    padding: 70px 0;
}

h1,
h2,
h3 {
    color: #fff;
    font-family: 'Kaushan Script', 'Brush Script MT', cursive;
}

/* navigation links */

#navigation {
    color: rgb(250, 85, 154);
    color: rgba(255, 85, 155, 1);
    font-size: 110%;
    margin-top: 5px;
}

#navigation li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#navigation a {
    color: inherit;
    text-decoration: none;
}

#navigation a:hover {
    border-bottom: 1px solid rgb(250, 85, 154);
    border-bottom: 1px solid rgba(255, 85, 155, 1);
}

.active {
    border-bottom: 1px solid rgb(250, 85, 154);
    border-bottom: 1px solid rgba(255, 85, 155, 1);
}

.footer {
    background: rgb(240, 160, 131);
    background: rgba(233, 149, 121, 1);
    display: inline;
    /* position: fixed;
    bottom: 0;
    width: 100%; */
}

.footer i {
    color: rgb(64, 4, 66);
    color: rgba(46, 2, 48, 1);
    font-size: 160%;
    margin: 1%;
}

.copyright {
    color: rgb(64, 4, 66);
    color: rgba(46, 2, 48, 1);
}

.main {
    background: rgb(250, 85, 154);
    background: rgba(255, 85, 155, 1);
    color: #fff;
    font-size: medium;
    list-style-type: none;
    margin-bottom: 40px;
    min-height: 300px;
    position: relative;
    text-align: center;
}

.aside1 {
    background: rgb(175, 173, 160);
    background: rgba(175, 179, 165, 1);
    color: #fff;
    font-size:large;
    list-style-type: none;
}

.aside2 {
    background: rgb(64, 4, 66);
    background: rgba(46, 2, 48, 1);
    color: #fff;
    font-size: large;
    list-style-type: none;
}

/*menu page image and cover text*/

.cover-text, h1 {
    color: #fff;
}

.cover-text {
    background: rgb(64, 4, 66);
    background: rgba(233, 149, 121, .1);
    bottom: 20px;
    font-size: 120%;
    height: 300px;
    position: absolute;
    text-align: center;
    width: 100%;
}

input[type=submit] {
    background: rgb(64, 4, 66);
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: rgba(46, 2, 48, 1);
    margin-left: 0.75rem;
    margin-top: 5px;
    padding: 0.75rem;    
}

input[type=text],
input[type=email],
input[checkbox] {
    height: 10px;
    margin: 0 auto;
    max-width: 400px;
    padding: 5px;
}

@media all and (min-width: 800px) {
    .main {
        flex: 3;
    }

    .aside1 {
        order: 1;
    }

    .aside2 {
        order: 2;
    }

    .main {
        order: 2;
    }

    .footer {
        order: 4;
    }
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1;

    }
}

@media (min-width: 200px) and (max-width: 850px) {
    .footer {
        position: unset;
    }
}