@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lato&display=swap');

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper>* {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

.header {
    background: rgba(233, 149, 121, 1);
    height: 230px;
    background: url(../images/hero-image.webp) center no-repeat;
}

h1,
h2,
h3 {
    font-family: 'Kaushan Script', 'Brush Script MT', cursive;
    color: #fff;
}

/* navigation links */

#navigation {
    font-size: 110%;
    color: rgba(255, 85, 155, 1);
    margin-top: 5px;
}

#navigation li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    border-bottom: 1px solid rgba(255, 85, 155, 1);
}

.active {
    border-bottom: 1 px solid rgba(255, 85, 155, 1);
}

.footer {
    background: rgba(233, 149, 121, 1);
    height: 80px;
    display: inline;
}

.footer i {
    font-size: 160%;
    margin: 1%;
    color: rgba(46, 2, 48);
}

.copyright {
    color: rgba(46, 2, 48);
}

.main {
    text-align: center;
    background: rgba(255, 85, 155, 1);
    color:#fff;
    height: 300px;
    margin-bottom: 40px;
    font-size: large;
    list-style-type: none;

}

.aside1 {
    background: rgb(175, 179, 165);
    list-style-type: none;
    color: #fff;
    font-size:large;
}

.aside2 {
    background: rgba(46, 2, 48);
    list-style-type: none;
    color: #fff;
    font-size: large;
}



@media all and (min-width: 800px) {
    .main {
        flex: 3;
    }

    .aside1 {
        order: 1;
    }

    .aside2 {
        order: 2;
    }

    .main {
        order: 2;
    }

    .footer {
        order: 4;
    }
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1;

    }
}